<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    {{>header}}
    <h4>Created by Mr {{name}}</h4>
    <p>Now This application is in development mode...</p>
    {{>footer}}
  </body>
</html>