  <!DOCTYPE html>
  <html>
    <head>
      <title>Contact</title>
      <link rel="stylesheet" href="./css/style.css" />
    </head>
    <body>
      {{>header}}
      <h3>Name: {{name}}</h3>
      <h3>Mobile Number :{{mob}} </h3>
      {{>footer}}
    </body>
  </html>