<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    {{>header}} 
    <h3>Created by Mr. {{name}} </h3>
     <img src="/image/Riyazgit.jpeg" alt="picture" height="300px" />
     {{>footer}}
  </body>
</html>