<!DOCTYPE html>
<html>
  <head>
    <title>About Express</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Created by Mr. {{name}}</p>
  </body>
</html>